<div class="page">

  <div class="card">

    <h1>Person Registration</h1>

  <!-- <div class="success-message">

      {{ successMessage }}
    
    </div>
    
    <div class="error-message">
    
      {{ errorMessage }}
    
    </div>--> 
    <div class="success-message" *ngIf="generatedLogin">

      <strong>Registration completed successfully</strong>

      <p>
        Generated Login:
        <strong>{{ generatedLogin }}</strong>
      </p>

    </div>

    <div class="error-message" *ngIf="errorMessage">

      <strong>Registration failed</strong>

      <p>{{ errorMessage }}</p>

    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        [(ngModel)]="name"
        placeholder="Enter full name">
    </div>

    <div class="form-group">
      <label for="cpf">CPF</label>
      <input
        id="cpf"
        type="text"
        [(ngModel)]="cpf"
        placeholder="Only numbers">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        [(ngModel)]="email"
        placeholder="example@email.com">
    </div>

    <div class="form-group">
      <label for="birthDate">Birth Date</label>
      <input
        id="birthDate"
        type="date"
        [(ngModel)]="birthDate">
    </div>

    <div class="form-group">
      <label for="zipCode">Zip Code</label>
      <input
        id="zipCode"
        type="text"
        [(ngModel)]="zipCode"
        placeholder="Only numbers">
    </div>

    <div class="form-group">
      <label for="complement">Complement</label>
      <input
        id="complement"
        type="text"
        [(ngModel)]="complement"
        placeholder="Apartment, house number, etc.">
    </div>

    <button
      type="button"
      (click)="register()">
      Register Person
    </button>

  </div>

</div>